table {
    margin: auto;
}

td {
    text-align: center;
    vertical-align: bottom;
}

.conclusion > td {
    border-top: solid 2px #000;
    position: relative;
}

.rule {
    position: absolute;
    left: 100%;
    top: -1.3em;
}

.rule > div {
    display:table-cell;
    vertical-align: middle;
    cursor: pointer;
    height: 2em;
}

.span {
    width: 2.5em;
    height: 1em;
}

.env {
    cursor: pointer;
}

.pad {
    width: 1em;
    height: 1em;
}

input {
    width: 100%;
}